
.img-big{
        width: 30%;
        height: auto;
        display: block;
        padding-top: 0.5em;
        margin-left: auto;
        margin-right: auto;
    }
    
    .button-back {
        float: right;
    }
    
    .info {
        margin-top: 0.5em;
    }
    
    .footer {
        margin-top: 0.5em;
    }