<div style="text-align:center">
  <h1>Ships</h1>
</div>

<mat-card>
  <mat-input-container>
    <input matInput #shipName placeholder="Ship name" />
  </mat-input-container>
  <button mat-raised-button (click)="add(shipName.value); shipName.value=''">
    Add Ship
  </button>
</mat-card>

<mat-nav-list>
  <a mat-list-item *ngFor="let ship of ships" (click)="onSelect(ship)">
    <span mat-line>{{ ship.name }}</span>
    <button mat-raised-button (click)="delete(ship); $event.stopPropagation();">
      <mat-icon>delete</mat-icon>
    </button>
  </a>
</mat-nav-list>